* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 
*/

.turn-off {
    display: none;
}

nav {
    display: grid;
    height: 40px;
}

#hero-image {
    width: 100%;
    position: relative;
}

#hero-image img {
    width: 100%;
    height: 200px;
}
#hero-image-banner {
    position: absolute;
    bottom: 30px;
}

#guided-pathways {
    display: grid;
}

#guided-pathways > div {
    height: 100px;
    border: 1px solid black;
}


@media screen and (max-width: 480px){
    body {
        background-color: red;
    }

    #mobile {
        display: block;
    }

    nav {
        grid-template-columns: auto;
    }

    nav > div {
        display: none;
    }

    nav > p {
        text-align: center;
    }

    #guided-pathways {
        grid-template-columns: repeat(2, 1fr);
    }



} /* Mobile*/

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: yellow;

    }

    #tablet {
        display: block;
    }

    nav {
        grid-template-columns: repeat(5, 1fr);
    }

    nav > div {
        display: block;
        text-align: center;
        border: 1px solid black;
    }

    nav > p {
        display: none;
    }

    #guided-pathways {
        grid-template-columns: repeat(3, 1fr);
    }

} /* Tablets */

/* 769px — 1024px: Small screens, laptops
 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: pink;

    }

    #small {
        display: block;
    }

    nav {
        grid-template-columns: repeat(5, 1fr);
    }

    nav > div {
        display: block;
        text-align: center;
        border: 1px solid black;
    }

    nav > p {
        display: none;
    }

    #guided-pathways {
        grid-template-columns: repeat(4, 1fr);
    }

} /* Small */

/* 1025px — 1200px: Desktops, large screens
 */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: darkred;

    }

    #desktop {
        display: block;
    }
    
    nav {
        grid-template-columns: repeat(5, 1fr);
    }

    nav > div {
        display: block;
        text-align: center;
        border: 1px solid black;
    }

    nav > p {
        display: none;
    }

    #guided-pathways {
        grid-template-columns: repeat(4, 1fr);
    }

} /* Desktop */


/* 1201px and more —  Extra large screens, TV  */

@media screen and (min-width: 1201px) {
    body {
        background-color: blue;
    }

    #tv {
        display: block;
    }

    nav {
        grid-template-columns: repeat(5, 1fr);
    }

    nav > div {
        display: block;
        text-align: center;
        border: 1px solid black;
    }

    nav > p {
        display: none;
    }
    
    #guided-pathways {
        grid-template-columns: repeat(8, 1fr);
    }


}